{% extends 'userside/layout/base.html' %}


{% block link %}<link rel="stylesheet" href="../../../static/site/css/contact.style.css">{% endblock %}
{% block title %}About{% endblock %}

{% block content %}
        
        
    <!------------Site Top Cover----------->
    
    <section
    class="bg-image p-5 text-left text-white d-flex align-items-center"
    style="background-image: linear-gradient(358deg, black, transparent),url('../static/images/2222.jpg'); height:420px; background-repeat: no-repeat;
    background-position: center center; background-size: cover;">

    <div class="container ">
        <h1 class="tpTxtOnImg">About us</h1>
    </div>
  
  </section>

    <!-----x------Site Top Cover ------x------->
    
    <section class="aboutus">
        <div class="aboutus-title">
            <h2>About Us</h2>
        </div>
        <div class="aboutus-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, cupiditate assumenda laborum, magni cum cumque optio maiores aliquam vitae quidem autem earum laudantium provident maxime sit accusantium voluptate dolorem odit sed ea! Eveniet magnam saepe deleniti, dolorum autem, temporibus explicabo accusantium quibusdam quae asperiores veritatis, voluptate sapiente maiores mollitia perferendis?</p>
        </div>
    </section>



    
    <!----x----Site Content-----x------>
    
{% endblock %}