{% extends 'userside/layout/base.html' %}


{% block link %}<link rel="stylesheet" href="../../../static/site/css/contact.style.css">{% endblock %}
{% block title %}Privacy policy{% endblock %}

{% block content %}
        
        
    <!------------Site Top Cover----------->

    <!-----x------Site Top Cover ------x------->
    
    <section class="container terms">
        <div class="terms-title">
            <h2>PRIVACY POLICY</h2>
        </div>
        <div class="terms-title">
            <h1>What information do we collect?</h1>
        </div>
        <div class="aboutus-content">
            <p>Rielen collects  information from you  when you register on our site rielen collects  personal data for the following reasons:</p>
        </div>
        <div class="aboutus-content">
            <p style="margin-left: 25px;">1.	We collect your first name ,last name email and username To personalize your experience(your information help us to better respond to your individual needs.</p>
        </div>
        <div class="aboutus-content">
            <p style="margin-left: 25px;">2.	To help us monitor and make improvements to our services,based on the feedback we receive from you.</p>
        </div>
        <div class="aboutus-content">
            <p style="margin-left: 25px;">3.	To promote products and services to users if they have given us consent to do so.</p>
        </div>
        <div class="terms-title">
            <h1>How do we protect your informations?</h1>
        </div>
        <div class="aboutus-content">
            <p>Rielen is committed into protecting personal data by implementing a variety of security measures to maintain the safety of your personal information when you enter,submit or access your personal information. We offer the use of a secure server all supplied credit  information is transmitted via secure socket layer(SSL) technology and then encrypted  into our database to be only accessed by those authorized with special access rights to our systems and are required to keep the information confidential. After a transaction  your private information  (credit cards,financial etc…) will not be stored on our servers .</p>
        </div>
        <div class="terms-title">
            <h1>Third party links </h1>
        </div>
        <div class="aboutus-content">
            <p>On this site We include or offer third party products or services ,note that these third party sites may have different privacy policies from ours. We therefore don’t take any responsibility for the content and activities of these linked sites. However,we can receive any feedbacks about these sites.</p>
        </div>
        <div class="terms-title">
            <h1>Change to our privacy policy </h1>
        </div>
        <div class="aboutus-content">
            <p>Note that the following privacy policy can be uptated at anytime by RIELEN.</p>
        </div>
        <div class="terms-title">
            <h1>Contacting us</h1>
        </div>
        <div class="aboutus-content">
            <p>If there is any question regarding this privacy policy you may contact us on</p>
            <p>rielenstudios@gmail.com</p>
        </div>
    
    </section>



    
    <!----x----Site Content-----x------>
    
{% endblock %}