{% extends 'userside/layout/base.html' %}

{% block title %}Forget password{% endblock %}

{% block content %}

<!---------Main Site Section------------>
    
  
<div class="container person-b">

    <div class="person-info-b dn">

      <div class="personForm-site forget">

            {% if not succ %}

                <h1 style="color: white; font-size: 25px; margin-bottom: 20px;">Set new password to your account</h1>
                <form action="{{ url_for('userside.resetpassword') }}" method="post" enctype="multipart/form-data" class="personForm-form forget">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                        <div class="personErrorBx {{ category }}">
                        <p>{{ message }}</p>
                        <p><a href="{{ url_for('userside.forget') }}">Get new email to reset password</a></p>
                        </div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="perForm-control">
                    <label for="New-password">Enter New password</label>
                    <input type="password" id="New-password" name="password" placeholder="Enter New password">
                </div>
                <div class="perForm-control">
                    <label for="cpassword">Confirm your password</label>
                    <input type="password" id="cpassword" name="cpassword" placeholder="confirm your password">
                </div>
                <input type="hidden" name="user" value="{{ request.args.get('user') }}">
                <input type="hidden" name="token" value="{{ request.args.get('token') }}">

                <button type="submit">submit</button>
                </form>

            {% else %}

                <div class="resend">
                    <h1 style="color: white; font-size: 25px; margin-bottom: 20px;">You have reset your password </h1>
                    <p class="modal_hE"><a href="{{ url_for('userside.forget') }}">Get new email to reset password</a></p>
                </div>
            

            {% endif  %}


      </div>

    </div>
</div>
    


    
<!----x----Site Content-----x------>

{% endblock %}