{% extends 'userside/layout/base.html' %}


{% block link %}<link rel="stylesheet" href="../../../static/site/css/contact.style.css">{% endblock %}
{% block title %}Terms and condition{% endblock %}

{% block content %}
        
        
    <!------------Site Top Cover----------->

    <!-----x------Site Top Cover ------x------->
    
    <section class="container terms">
        <div class="terms-title">
            <h2>TERMS AND CONDITIONS OF USE:</h2>
        </div>
        <div class="terms-title">
            <h1>OVERVIEW:</h1>
        </div>
        <div class="aboutus-content">
            <p>Welcome To rielen studios.com,this is a website owned and operated by RIELEN,we offer this website,including all information,tools and services available,by visiting our website or purchasing something from us you engage in our services and agree to be bound by the following terms and conditions these terms of service apply to all users of the site,please read these terms carefully before accesing or using our website,if you do not agree to all the terms and conditions of this agreement then you may not access our website or use any of our services.</p>
        </div>
        <div class="aboutus-content">
            <p>Consider that RIELEN from time to time  may change these terms at anytime without notice,we will display the changes on this page of the site or application and such changes shall be effective immediately.</p>
        </div>
        <div class="terms-title">
            <h1>SYSTEM ABUSE</h1>
        </div>
        <div class="aboutus-content">
            <p>You agree that you will in no way abuse the online system ,you may not reproduce,display,sell,resell or otherwise exploit  any resource contained on this site. You may not share or disclose account log-in credentials.You are also prohibited from undertaking any action which compromises the security of this site or that of any other user on this site.</p>
        </div>
        <div class="terms-title">
            <h1>CLAIMS OF INFRIGMENT </h1>
        </div>
        <div class="aboutus-content">
            <p>If you believe that any content appearing on this site infringes your intellectual property rights please get in touch with us through our email and mobile number provided in contact us.</p>
        </div>
        <div class="terms-title">
            <h1>RIELEN STUDIOS SERVICES</h1>
        </div>
        <div class="aboutus-content">
            <p>1.	By accessing or using the service you represent that you are at least 18 years of age,the company does not permit those under the age of  18 to use our service. Individuals under the age of 18 may use our service only with the involvement of a parent or legal guardian ,under such person’s account and otherwise subject to these terms.</p>
        </div>
        <div class="aboutus-content">
            <p>2.	The quality of the display of the rielen content may vary from device to device and maybe affected by a variety of factors such as: </p>
        </div>
        <div class="aboutus-content">
            <p style="margin-left: 25px;">a.	your location or the speed of your internet connection.</p>
        </div>
        <div class="aboutus-content">
            <p style="margin-left: 25px;">b.	HD and ULTRA HD availability is subject to your internet service and device capabilities however we recommend  a faster connection for improved video quality.</p>
        </div>
        <div class="aboutus-content">
            <p style="margin-left: 25px;">c.	Note that not all content on Rielen studios is available in all formats such as HD and ULTRA HD,they are payment plans which allow you to view the content in all formats and other payment plans which does not allow you to view the content in all formats. However rielen provides also content which does not require any payment method to access them.</p>
        </div>
        <div class="aboutus-content">
            <p>3.	Rielen only provides a 3 days subscription per movie not tv shows or series. After paying for the content the user only gets 3days of watching and enjoying the content,after 3 days the user does not have access to the content anymore.If the user wants to watch the movie again he or she is  going to pay again but this time on a discount of 50% for example if the movie costed 2USD At first, if the user wants to watch the movie again after 3 days he or she is going to pay only 1USD.This is in order to avoid many people using the same account to view the same content.</p>
        </div>
        <div class="terms-title">
            <h1>THIRD PARTY SITES</h1>
        </div>
        <div class="aboutus-content">
            <p>We take no responsibility whatsoever for the content of any sites which may be linked to this site.</p>
        </div>
        <div class="terms-title">
            <h1>PASSWORD AND ACCOUNT ACCESS</h1>
        </div>
        <div class="aboutus-content">
            <p>The account owner is responsible for any activity that occurs through his or her rielen studios account. To maintain control over the account and to prevent anyone from accessing the account (which would include information on viewing history for the account), the Account Owner should not reveal the password or details of the Payment Method associated with the account to anyone. You are responsible for updating and maintaining the accuracy of the information you provide to us relating to your account. We can terminate your account or place your account on hold in order to protect you, Rielen or our partners from identity theft or other fraudulent activity.</p>
        </div>
        <div class="terms-title">
            <h1>GOVERNING LAW</h1>
        </div>
        <div class="aboutus-content">
            <p>The law applicable in all matters in relation to this site is the law of the government of  RWANDA , whose courts will have the sole jurisdiction to hear and settle any dispute.</p>
        </div>
        <div class="terms-title">
            <h1>TRADEMARKS</h1>
        </div>
        <div class="aboutus-content">
            <p>Rielen studioes service mark and logo belong to RIELEN and all other trademarks on this site are the property of their respective owners. Except as permitted by applicable law, Licensee is prohibited from using any of the trademarks appearing on this site without express written consent from their respective owners.</p>
        </div>
        <!-- <div class="terms-title">
            <h1></h1>
        </div>
        <div class="aboutus-content">
            <p></p>
        </div> -->
    </section>



    
    <!----x----Site Content-----x------>
    
{% endblock %}