{% extends 'admin/layout/base.html'%}

{% block link %}<link rel="stylesheet" href="{{ url_for('static', filename='/css/addmovie.css') }}">{% endblock %}
{% block title %}Add movie{% endblock %}
{% set parent = 'Dashboard' %}
{% set child = 'Movie' %}


{% block content %}
<div class="RCONT">
    <div class="RCONT-top">
        <p>ADD NEW MOVIE</p>
        <h6>Fill all inputs to complete this step</h6>
    </div>

    <div class="RCONT-items">
        <div class="RCONTOP dflex">
            <h4>Movie Details</h4>
            <h4>Movie Media and Gerne</h4>
        </div>
        <form action="{{ url_for('admin.movieEdit') }}" method="post" class="RCONBTM dflex" enctype="multipart/form-data">
            {% for m in mov %}
            <div class="RCONTBTM-formL">
                <input type="hidden" name="id" placeholder="Title" value="{{ id }}" required>
                <div class="form-control dflex">
                    <label for="Title">Title</label>
                    <input type="text" id="Title" name="Title" placeholder="Title" value="{{m.1}}" required>
                </div>
                <div class="form-control dflex">
                    <label for="SmallTitle">Small Title</label>
                    <input type="text" id="SmallTitle" name="SmallTitle" placeholder="Small Title" value="{{ m.2 }}" required>
                </div>
                <div class="form-control dflex">
                    <label for="Description">Description</label>
                    <textarea name="Description" id="Description" value="{{ m.3 }}" required>{{ m.3 }}</textarea>
                </div>
                <div class="form-control dflex">
                    <label for="Director">Director</label>
                    <input type="text" id="Director" name="Director" placeholder="Director" value="{{ m.5 }}" required>
                </div>
                <div class="form-control dflex">
                    <label for="Cast">Cast</label>
                    <input type="text" id="Cast" name="Cast" placeholder="Cast" value="{{ m.4 }}" required>
                </div>
                <div class="form-control dflex">
                    <label for="Written">Written</label>
                    <input type="text" id="Written" name="Written" placeholder="Written" value="{{ m.9 }}" required>
                </div>
                <div class="form-control dflex">
                    <label for="Time">Time</label>
                    <input type="text" id="Time" name="Time" placeholder="Time" value="{{ m.6 }}" required>
                </div>
                <div class="form-control dflex">
                    <label for="Age">Age</label>
                    <input type="number" id="Age" name="Age" placeholder="Age" value="{{ m.7 }}" required>
                </div>
            </div>
            <div class="RCONTBTM-formL">
                <div class="form-control dflex">
                    <label for="CoverImage">Cover Image</label>
                    <input type="file" id="CoverImage" name="CoverImage">
                </div>
                <div class="form-control dflex">
                    <label for="OtherImage">OtherImage</label>
                    <input type="file" id="OtherImage" name="OtherImage">
                </div>
                <div class="form-control dflex">
                    <input type="hidden" id="CoverImage" name="HCoverImage" value="{{ m.10 }}">
                </div>
                <div class="form-control dflex">
                    <input type="hidden" id="OtherImage" name="HOtherImage" value="{{ m.11 }}">
                </div>
                <div class="form-control dflex">
                    <label for="Trailer">Trailer link</label>
                    <input type="text" id="Trailer" name="Trailer" placeholder="Trailer link" value="{{ m.8 }}" required>
                </div>
                <div class="form-control dflex">
                    <input type="submit" name="Update movie" value="Update movie">
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}