<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form action="{{ url_for('admin.setpassword') }}" method="post" class="loginF">
            <h5>Set new password</h5>
            <div class="form-control dflex">
                <label for="pass">New password</label>
                <input type="password" id="pass" name="passw" placeholder="New password">
            </div>
            <div class="form-control dflex">
                <label for="cpassw">confirm password</label>
                <input type="password" id="cpassw" name="cpassw" placeholder="confirm your password">
            </div>
            <div class="form-control dflex">
                <input type="submit" name="login" value="Send">
            </div>
        </form>
    </div>

    <!-- Custom Javascript file -->
    <script src="../static/js/main.js"></script>
</body>
</html>